<div>
  <table mat-table [dataSource]="dataSource" class="rf-morph-dic-list">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="width: 100px; display: none">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="display: none">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selectItem(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="nounsFullName">
      <th mat-header-cell *matHeaderCellDef> 품사명 </th>
      <td mat-cell *matCellDef="let element"> {{element.nounsFullName}} </td>
    </ng-container>

    <ng-container matColumnDef="nounsType">
      <th mat-header-cell *matHeaderCellDef> 품사타입 </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.modifiy; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <mat-form-field class="example-full-width">
            <mat-label>품사 종류 입력</mat-label>
            <input type="text" matInput [formControl]="element.nounsTypeControl" [matAutocomplete]="auto" [value]="element.nounsType">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of element.filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ng-template>
        <ng-template #elseBlock>{{element.nounsType}}</ng-template>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="combinNounsName">
      <th mat-header-cell *matHeaderCellDef> 품사구성 </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.modifiy; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <mat-form-field class="example-full-width">
            <mat-label>{{element.combinNounsName}}</mat-label>
            <input matInput [(ngModel)]="element.combinNounsName">
          </mat-form-field>
        </ng-template>
        <ng-template #elseBlock>{{element.combinNounsName}}</ng-template>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="exsist">
      <th mat-header-cell *matHeaderCellDef> 사전존재여부 </th>
      <td mat-cell *matCellDef="let element"> {{element.exsist}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="btn">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.modifiy; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <button mat-raised-button color="primary" (click)="selectModify(element.id)">확인</button>
          </ng-template>
          <ng-template #elseBlock>
            <button mat-raised-button color="primary" (click)="selectModify(element.id)">수정</button>
          </ng-template>
        <button mat-raised-button style="margin-left: 10px;" (click)="selectDelete(element.id)">삭제</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="selectItem(row)"
        (mouseover)="row.hover=true" (mouseleave)="row.hover=false"
        [ngStyle]="{backgroundColor: row.hover==true  ? 'gainsboro' : ''}"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
