<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">RFP Search!</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">메인 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="prj-regist" routerLinkActive="active">프로젝트 관리<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="rfp-regist" routerLinkActive="active">RFP 관리<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="rfp-search" routerLinkActive="active">관련 RFP 검색<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="rfp-dic-manage" routerLinkActive="active">사전 관리<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <mat-progress-bar [mode]="query" style="width: 100%;height: 2px"></mat-progress-bar>
</div>
<div>
  <router-outlet></router-outlet>
</div>
